<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
<form action="/springboot/main/notice.do" method="get">
<h1>abZXJK8tapct4BWTt7ZaS1wpO-0Gu9oaryIzACz9xQ4</h1>
	<lable>通知用户:</lable><input type="text" value="" name="user"/><br/>
	<lable>消息标题:</lable><input type="text" value="" name="first"/><br/>
	<lable>订单号:</lable><input type="text" value="" name="keyword1"/><br/>
	<lable>总重量:</lable><input type="text" value="" name="keyword2"/><br/>
	<lable>送货地址:</lable><input type="text" value="" name="keyword3"/><br/>
	<lable>预计送货日期:</lable><input type="text" value="" name="keyword4"/><br/>
	<lable>remark:</lable><input type="text" value="" name="remark"/><br/>
	<input type="submit" value="提交"/>y
</form>	
</body>
</html>